@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Transporter</h1>
    <p class="lead">
        A transport company that enables wholesale deliveries and supervision of own warehouses and vehicles.
    </p>
    <p class="btn btn-primary" style="color: white;">About &raquo;</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Transport Everywhere</h2>
        <p>
            Nam ullamcorper quam sed mauris maximus vestibulum. Sed est justo, scelerisque at auctor et, blandit ut elit. Sed lacinia vitae felis ut venenatis. 
            Aliquam convallis, lacus facilisis dignissim pharetra, est felis laoreet sem, eu scelerisque tellus magna ut sapien. 
            Curabitur aliquet, lorem quis consequat convallis, urna ligula auctor libero, in mollis eros nisi ac ligula.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Observe your warehouses</h2>
        <p>
            Morbi ex mauris, blandit et leo quis, blandit malesuada erat. Donec nunc ipsum, scelerisque in vehicula in, lacinia a ligula. 
            Quisque fringilla dui non neque dapibus tempor. Proin suscipit eget magna quis dictum. Phasellus ac vulputate ante, quis consequat lorem. 
            Maecenas tincidunt imperdiet massa vel facilisis. Aenean pellentesque egestas ipsum eu blandit.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Your trucks</h2>
        <p>
            Sed varius facilisis purus, eu volutpat tellus iaculis sed.
            Sed ac neque quis est congue facilisis eu ut purus.
            Fusce elementum, justo quis elementum aliquam, quam nisl rhoncus arcu, in vehicula nisi dolor sed nisi.
            Phasellus at nulla nulla. Pellentesque vulputate fringilla elit vel placerat.
            Morbi fermentum placerat sem quis fermentum. Maecenas ac mauris sem.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Read more &raquo;</a></p>
    </div>
</div>